@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0;">*@

    <environment include="Development">
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    </environment>

    <environment include="Development">
        <script src="~/js/jquery-3.1.1.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/jquery-3.1.1.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        (function ($) {
            $.getUrlParam = function (name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]); return null;
            }
        })(jQuery);

        $(function () {
            $("#hidReturnUrl").val($.getUrlParam("ReturnUrl"));
        });
    </script>

    <style type="text/css">
        @@media screen and (max-width:420px) {
            .bd .login-main {
                width: 360px;
            }

                .bd .login-main .login-left {
                    padding: 35px 30px;
                }

            .hd {
                display: none;
            }
        }
    </style>
</head>
 
<body style="background-color: #1F2325;background-image: url(/images/bg.jpg);background-size: cover;">
    <div class="hd">
        <img title="" alt="" src="">
        <div class="wrap">
            <div class="hd-main">
                <h1 class="logo" style="font-size:17px;"></h1>
                <div class="nav">
                </div>
            </div>
        </div>
    </div>

    <div class="bd">
        <div class="login-top invite-top">
            <p>
                <span id="invite-name"></span>
            </p>
        </div>
        <div class="login-main">
            <form action="@Url.Action("Login")" class="login-left" data-node="loginForm">
                <h2>密码登录<span style="color:red">@ViewBag.Message</span></h2>
                <div class="row text-row" data-node="accountInput">
                    <input type="text" name="username" placeholder="账号" value="@ViewBag.userName" data-node="loginUser" class="login-username text">
                </div>
                <div class="row text-row" data-node="passwordInput">
                    <input type="password" name="password" placeholder="密码" data-node="loginPwd" class="login-password text">
                    <input type="hidden" name="ReturnUrl" id="hidReturnUrl" />
                </div>

                <div class="row row-btn" style="margin-top:40px">
                    <button type="submit" data-node="loginSubmit" class="login-btn btn" value="">登录</button>
                </div>
                <div style="margin-top:100px">
                    <div>
                    </div>
                    <div style="float: right;color: gray;margin-left:20px">
                        <a href="@Url.Action("Register")" style="text-decoration:none;color:gray">免费注册</a>
                    </div>
                    <span class="fm-label-extra" style="float: right;color:gray;">
                        <a href="@Url.Action("Forget")" style="text-decoration:none;color:gray">忘记密码</a>
                    </span>

                </div>
            </form>
        </div>
    </div>
    <div class="ft">
        <div class="ft-nav">
            <span>©2018 </span>
            <a target="_self" href="">| 关于OA</a>
        </div>
    </div>
</body>
</html>

